/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

html {
    /* border: solid red 2px; */
    max-height: 100vh;
}

body {
    display: flex;
    /* border: solid orange 2px; */
    display: block;
    max-height: 100vh;
}

button {
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    opacity: 0.85;
}

button:hover {
    opacity: 1;
}

.next-btn, .upload-btn {
    background-color: #008eff;
    color: whitesmoke;
}

.back-btn {
    background-color: #363c45;
    color: whitesmoke;
}

.next-btn:disabled, .upload-btn:disabled {
    opacity: 0.5;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid #dadada 2px;
    height: 100px;
    margin-top: 5px;
    flex-wrap: wrap;
}

#uploads-sidebar > p {
    font-size: 12px;
}

#uploads-sidebar > span, #uploads-sidebar > p > span {
    font-size: 12px;
    display: block;
}
