// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import './colors.scss';

* {
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

body {
  display: flex;
  display: block;
  max-height: 100vh;
  margin: 0;
  background-color: $darkGray;
  color: whitesmoke;
}

button {
  width: 100px;
  height: 35px;
  border: none;
  outline: none;
  opacity: 0.85;
}

button:hover {
  opacity: 0.5;
  cursor: pointer;
}

button:focus {
  opacity: 1;
}

button:disabled {
  cursor: not-allowed;
}

.next-btn, 
.upload-btn {
  background-color: $skyBlue;
  color: whitesmoke;
}

.back-btn {
  background-color: $stoneBlack;
  color: whitesmoke;
}

.next-btn:disabled, .upload-btn:disabled {
  opacity: 0.5;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid $lightGray 1px;
  height: 100px;
  margin-top: 5px;
  flex-wrap: wrap;
}

.upload > p {
  font-size: 12px;
}

.upload > span, 
.upload > p > span {
  font-size: 12px;
  display: block;
}

.df {
  display: flex;
}

.clickable {
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.clickable:hover {
  background-color: #e1e8f2;
  color: black;
}

hr {
  margin: 0;
}